* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: black;
    color: #ffff;
    text-align: center;
}

.topic {
    /* text-align: center; */
    margin: 5rem;
}

.content {
    margin: auto;
    /* text-align: center; */
}

#outputCelcius {
    margin-left: 13rem;
}